<!-- bootstrap navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
          <a class="navbar-brand" aria-current="page" href="">
            <img
            src="https://gumlet.assettype.com/afaqs/2021-01/15f5f827-8e29-4520-af8d-a0f353b8da17/images.png?auto=format,compress&w=1200" 
            alt="NavLogo"/> </a>
      <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " href="#">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home & Living</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Beauty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Studio<sup>new</sup></a>
          </li>
        </ul>

        <form class="d-flex search me-auto"  role="search">
          <div class="row"> 
            <fa-icon class="nav-icons" [icon]="searchicon"></fa-icon>
            <input class="" type="search" placeholder="Search for products, brands and more" aria-label="Search">
          </div>
        </form>

        <ul class="navbar-nav  mb-2  mb-lg-0 profile-nav-icons">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="ms-2"><fa-icon  [icon]="user"></fa-icon></span><br>
              <span class="icons-title">Profile</span>
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="ms-3"><fa-icon  [icon]="wishlist"></fa-icon></span><br>
              <span class="icons-title">Wishlist</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="ms-1"><fa-icon [icon]="cart"></fa-icon></span><br>
              <span class="icons-title">Bag</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>