<!DOCTYPE html>
<html>
    <body>
        <div class="wrap ">
             <!-- Login Page -->
        <div class="login">
            <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2023/10/29/9610da61-a1a4-4215-b1fa-f612242d10e61698602536819-Flat_200--1-.jpg" alt="login image">
                    
                    <div class="login-form">
                    <h5>Login <span class="small-span">or</span> Signup</h5>
                    <form> 
                        <div class="row">
                            <input id="" type="tel" class="mobileNumberInput" placeholder="Mobile Number" maxlength="10" value="" required/>
                            <span class="number-span">+91
                                <span class="span-line">|</span>
                                  </span>
                                <p>By continuing, I agree to the <a href="/">Terms of Use</a> & <a href="/">Privacy Policy</a></p>
                                <button type="submit" >Continue</button>
                                <p>Have trouble logging in? <a href="/">Get Help</a></p>
                            </div>            
                    </form>
                    </div>
                </div>
                
                <!-- OTP Page -->
        
                <div id="otp-container" class="otp-container">
                    <div class="otp-img">
                        <img src="https://constant.myntassets.com/pwa/assets/img/3a438cb4-c9bf-4316-b60c-c63e40a1a96d1548071106233-mobile-verification.jpg" alt="otp-image"/>
                    </div>
                    <div>
                        <h3>Verify with OTP</h3>
                        <h4>Sent to 7020943084</h4>
                        <div class="otp-input">
                            <input name="otp" type="tel" maxlength="4"  autocomplete="off" value="" required/>      
                        </div>
                        <div class="verify">
                            <button type="submit" >Verify</button>
                        </div>
                        <div>
                           <a href="/"> <button class="resend-btn"  style="display: none;">RESEND OTP</button></a>
                        </div>
                        <!-- otp-timer -->
                        <div class="resendTime"> 
                            <span> Resend OTP in: </span>00:00
                        </div>
                        
                    </div>
                    <div class="log-pass">
                        <p>Log in using <a href="/">Password</a></p>  
                    </div>
                    <div class="get-help">
                        <p>Have trouble logging in? <a href="/">Get Help</a></p>  
                    </div>
                </div>
        
        </div>
        
    </body>
</html>

