<section class="main">
    <div class="wrapper">
        <!-- Flat off image -->
        <a href=""><img class="wrap-img" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/1/7b00a2f0-2c8f-47f8-938d-85617a3e75e91706788625897-FLAT-400-Off-on-1st-Purchase-Strip-----3.jpg"></a>       
        <!-- banner-image  -->
        <div class="container-head">
            <div class="row-head">
                <div class="col-md-12  ban-img ">
                    <a href=""><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/827b697d-155a-4895-92ad-75fbb07ca8a01707154477940-Desktop_Hp_01.jpg"></a>            
                    <a href=""><img  src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/f6857071-a235-49de-a659-1ab08bcd41d11707154477945-Desktop_Hp_02.jpg"></a>       
                </div>
            </div>
        </div>
        <!-- main-shop title image -->
        <div class="shop-title">
            <a href=""><img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/1/7fa88863-9515-4688-a21e-d33783c92fe01706788473061-Shop-by-category-----2.jpg"></a>
        </div>
    </div>
</section>
