<section class="main">
    <div class="wrapper">
        <!-- Flat off image -->
        <a href=""><img class="wrap-img" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/1/7b00a2f0-2c8f-47f8-938d-85617a3e75e91706788625897-FLAT-400-Off-on-1st-Purchase-Strip-----3.jpg"></a>       
        <!-- banner-image  -->
        <div class="container-head">
                <div class="ban-img ">
                    <a href=""><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/827b697d-155a-4895-92ad-75fbb07ca8a01707154477940-Desktop_Hp_01.jpg"></a>            
                    <a href=""><img  src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/f6857071-a235-49de-a659-1ab08bcd41d11707154477945-Desktop_Hp_02.jpg"></a>       
                </div>      
        </div>
        <!-- main-shop title image -->
        <div class="shop-title">
            <a href=""><img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/1/7fa88863-9515-4688-a21e-d33783c92fe01706788473061-Shop-by-category-----2.jpg"></a>
        </div>
        <!-- card images -->
        <div class="container-cardsimages">
            
            <div class="row">
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/f4e2f6d0-dd93-4724-9787-b376b37b76761707130586807-Shop-By-Category_HP_02.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src='https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/94f1cb86-f527-4eac-aabd-0094b3e5cd101707130587091-Shop-By-Category_HP_03.jpg'>
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/ec5b99e9-3f42-47fb-bf3b-e9a100aa7cf31707130587125-Shop-By-Category_HP_04.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/d386b5c0-7260-431a-99d0-1b45576c143a1707130586847-Shop-By-Category_HP_05.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/5cd5ecbf-9f62-41b4-bf9c-3672a61832721707130586969-Shop-By-Category_HP_06.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/978422fe-85d4-456e-975e-0991d5e3ca741707130586940-Shop-By-Category_HP_07.jpg">
                    </a> 
                </div>   
            </div>

            <div class="row">
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/379717f8-45f4-49d9-8a2a-602a2ca8c4db1707130586928-Shop-By-Category_HP_08.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src='https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/cb774401-d762-4cff-a3b4-a423cce3ddb51707130587038-Shop-By-Category_HP_09.jpg'>
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/8b5b6aa7-41bf-4961-813d-882331e16eaf1707130587220-Shop-By-Category_HP_10.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/488ee4ac-d93c-49f7-90b1-fd6d9e51fd241707130587207-Shop-By-Category_HP_11.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/6f731a3e-f956-4b08-aa69-124df1fc01d11707130587155-Shop-By-Category_HP_12.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/13e0b31a-061e-4833-90dc-1b074fb9912a1707130586996-Shop-By-Category_HP_13.jpg">
                    </a> 
                </div>   
            </div>

            <div class="row">
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/f4e2f6d0-dd93-4724-9787-b376b37b76761707130586807-Shop-By-Category_HP_02.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src='https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/94f1cb86-f527-4eac-aabd-0094b3e5cd101707130587091-Shop-By-Category_HP_03.jpg'>
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/ec5b99e9-3f42-47fb-bf3b-e9a100aa7cf31707130587125-Shop-By-Category_HP_04.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/d386b5c0-7260-431a-99d0-1b45576c143a1707130586847-Shop-By-Category_HP_05.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/5cd5ecbf-9f62-41b4-bf9c-3672a61832721707130586969-Shop-By-Category_HP_06.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/978422fe-85d4-456e-975e-0991d5e3ca741707130586940-Shop-By-Category_HP_07.jpg">
                    </a> 
                </div>   
            </div>

            
            <div class="row">
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/379717f8-45f4-49d9-8a2a-602a2ca8c4db1707130586928-Shop-By-Category_HP_08.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src='https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/cb774401-d762-4cff-a3b4-a423cce3ddb51707130587038-Shop-By-Category_HP_09.jpg'>
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/8b5b6aa7-41bf-4961-813d-882331e16eaf1707130587220-Shop-By-Category_HP_10.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/488ee4ac-d93c-49f7-90b1-fd6d9e51fd241707130587207-Shop-By-Category_HP_11.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/6f731a3e-f956-4b08-aa69-124df1fc01d11707130587155-Shop-By-Category_HP_12.jpg">
                    </a> 
                </div>   
                <div  class="col-2  col-container">
                    <a href="">
                    <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/5/13e0b31a-061e-4833-90dc-1b074fb9912a1707130586996-Shop-By-Category_HP_13.jpg">
                    </a> 
                </div>   
            </div>
        </div>

        <div class="last-image">
            <a href=""><img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2024/2/1/9eb6dcc4-a508-47ce-a6c4-dcfab0c991821706788570836-App-Install-Banner-----3.jpg"></a>
        </div>

    </div>
</section>
